In [2]:
import pandas as pd
from pandas import DataFrame
order=pd.read_excel("SuperstoreSales.xls",0)
order.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Order Priority', 'Order Quantity',
       'Sales', 'Discount', 'Ship Mode', 'Profit', 'Unit Price',
       'Shipping Cost', 'Customer Name', 'Province', 'Region',
       'Customer Segment', 'Product Category', 'Product Sub-Category',
       'Product Name', 'Product Container', 'Product Base Margin',
       'Ship Date'],
      dtype='object')

In [3]:
order.groupby('Customer Segment').Sales.sum()

Customer Segment
Consumer          3.063611e+06
Corporate         5.498190e+06
Home Office       3.562063e+06
Small Business    2.772298e+06
Name: Sales, dtype: float64

In [4]:
order.groupby('Customer Segment').Sales.mean()

Customer Segment
Consumer          1857.859965
Corporate         1788.029404
Home Office       1758.175017
Small Business    1690.425790
Name: Sales, dtype: float64

In [11]:
order.groupby('Customer Segment').Sales.max()

Customer Segment
Consumer          89061.05
Corporate         41343.21
Home Office       45923.76
Small Business    33367.85
Name: Sales, dtype: float64

In [12]:
order.groupby('Customer Segment').Sales.agg(["sum","mean","max"])

                           sum         mean       max
Customer Segment
Consumer          3.063611e+06  1857.859965  89061.05
Corporate         5.498190e+06  1788.029404  41343.21
Home Office       3.562063e+06  1758.175017  45923.76
Small Business    2.772298e+06  1690.425790  33367.85

In [13]:
order.groupby(['Customer Segment','Ship Mode']).Sales.agg(["sum","mean","max"])

                                          sum         mean       max
Customer Segment Ship Mode
Consumer         Delivery Truck  1.291506e+06  5615.244687  28389.14
                 Express Air     2.182390e+05  1136.661260  11747.97
                 Regular Air     1.553866e+06  1266.394329  89061.05
Corporate        Delivery Truck  2.383683e+06  5661.954622  29345.27
                 Express Air     4.394967e+05  1214.079203  24051.49
                 Regular Air     2.675011e+06  1167.107701  41343.21
Home Office      Delivery Truck  1.370544e+06  5152.420842  28180.08
                 Express Air     3.235484e+05  1388.619536  23949.51
                 Regular Air     1.867970e+06  1223.294230  45923.76
Small Business   Delivery Truck  1.163123e+06  5123.889454  25312.00
                 Express Air     2.023409e+05  1042.994183   8127.32
                 Regular Air     1.406835e+06  1154.089022  33367.85

In [16]:
order.groupby(['Customer Segment','Ship Mode'])['Sales','Profit'].agg(["sum","mean","max"])

C:\Users\naush\AppData\Local\Temp\ipykernel_17656\658744602.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  order.groupby(['Customer Segment','Ship Mode'])['Sales','Profit'].agg(["sum","mean","max"])

                                        Sales                         \
                                          sum         mean       max
Customer Segment Ship Mode
Consumer         Delivery Truck  1.291506e+06  5615.244687  28389.14
                 Express Air     2.182390e+05  1136.661260  11747.97
                 Regular Air     1.553866e+06  1266.394329  89061.05
Corporate        Delivery Truck  2.383683e+06  5661.954622  29345.27
                 Express Air     4.394967e+05  1214.079203  24051.49
                 Regular Air     2.675011e+06  1167.107701  41343.21
Home Office      Delivery Truck  1.370544e+06  5152.420842  28180.08
                 Express Air     3.235484e+05  1388.619536  23949.51
                 Regular Air     1.867970e+06  1223.294230  45923.76
Small Business   Delivery Truck  1.163123e+06  5123.889454  25312.00
                 Express Air     2.023409e+05  1042.994183   8127.32
                 Regular Air     1.406835e+06  1154.089022  33367.85

                                        Profit
                                           sum        mean        max
Customer Segment Ship Mode
Consumer         Delivery Truck   56567.280442  245.944698  12606.810
                 Express Air      25718.177371  133.948840   3506.240
                 Regular Air     205674.525966  167.623901  27220.690
Corporate        Delivery Truck  116066.822258  275.693165  11562.080
                 Express Air      67983.704400  187.800288   9791.041
                 Regular Air     415964.047500  181.485187  14440.390
Home Office      Delivery Truck   25903.242149   97.380610  10521.330
                 Express Air      31662.028600  135.888535   8249.860
                 Regular Air     260691.141242  170.721114   9097.645
Small Business   Delivery Truck   68264.832432  300.726134   8965.830
                 Express Air      22107.647300  113.956945   1899.230
                 Regular Air     222492.816421  182.520768  13340.260

In [17]:
order.groupby('Customer Segment').agg(["sum","mean","max"])

C:\Users\naush\AppData\Local\Temp\ipykernel_17656\3556153591.py:1: FutureWarning: ['Order Date', 'Order Priority', 'Ship Mode', 'Customer Name', 'Province', 'Region', 'Product Category', 'Product Sub-Category', 'Product Name', 'Product Container', 'Ship Date'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  order.groupby('Customer Segment').agg(["sum","mean","max"])

                    Row ID                     Order ID                       \
                       sum         mean   max       sum          mean    max
Customer Segment
Consumer           6852627  4155.625834  8378  48894995  29651.300788  59845
Corporate         12722591  4137.427967  8388  90765017  29517.078699  59911
Home Office        8559706  4224.928924  8385  61062801  30139.585884  59906
Small Business     7065321  4308.122561  8390  50415050  30740.884146  59939

                 Order Quantity                        Sales  ...    Profit  \
                            sum       mean max           sum  ...       max
Customer Segment                                              ...
Consumer                  41760  25.324439  50  3.063611e+06  ...  27220.69
Corporate                 78470  25.518699  50  5.498190e+06  ...  14440.39
Home Office               52623  25.973840  50  3.562063e+06  ...  10521.33
Small Business            41634  25.386585  50  2.772298e+06  ...  13340.26

                 Unit Price                      Shipping Cost             \
                        sum        mean      max           sum       mean
Customer Segment
Consumer          168917.63  102.436404  6783.02      21477.81  13.024748
Corporate         268568.91   87.339483  6783.02      39052.86  12.700117
Home Office       179328.62   88.513633  6783.02      25910.62  12.789052
Small Business    132869.42   81.017939  6783.02      21295.37  12.984982

                         Product Base Margin
                     max                 sum      mean   max
Customer Segment
Consumer          154.12              838.60  0.512905  0.85
Corporate         143.71             1565.40  0.512742  0.85
Home Office       164.73             1033.68  0.513757  0.85
Small Business    147.12              829.94  0.510104  0.85

[4 rows x 27 columns]